@model IEnumerable<AWork.Domain.Models.ShipMethod>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr class="table-Dark">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipRate)
            </th>

            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-light">
                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@Html.DisplayFor(modelItem => item.Name)</strong></td>
                <td>@Html.DisplayFor(modelItem => item.ShipBase)</td>
                <td>@Html.DisplayFor(modelItem => item.ShipRate)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ShipMethodId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ShipMethodId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ShipMethodId">Delete</a>
                </td>
       @*     <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rowguid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShipMethodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShipMethodId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShipMethodId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
