@model IEnumerable<AWork.Domain.Models.Vendor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="table-Dark">
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreferredVendorStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActiveFlag)
                </th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-light">
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@Html.DisplayFor(modelItem => item.AccountNumber)</strong></td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.CreditRating)</td>
                    <td>@Html.DisplayFor(modelItem => item.PreferredVendorStatus)</td>
                    <td><span class="badge bg-label-success me-1">@Html.DisplayFor(modelItem => item.ActiveFlag)</span></td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BusinessEntityId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BusinessEntityId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BusinessEntityId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreferredVendorStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveFlag)
            </th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredVendorStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveFlag)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BusinessEntityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BusinessEntityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BusinessEntityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
