@model IEnumerable<AWork.Contracts.Dto.Purchasing.PurchaseOrderHeaderDto>

@{
    ViewData["Title"] = "Index";
    ViewBag.title = "cool";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RevisionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxAmt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RevisionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxAmt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Employee.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipMethod.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.AccountNumber)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
